ul img{
    width: 30px;
}

*{
    margin: 0;
    padding: 0;
}

header{
    background: #FFF;
    padding: 20px 120px;
  
}

nav{
    display: flex;
    justify-content: space-between;
}

ul, li{
    display: flex;
    margin-right: 30px;

}
nav h3{
    max-width: 243px;
    color: #3A3A3A;
font-family: Poppins;
font-size: 24px;
font-weight: 700;
}

nav ul li{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

.banner-container{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 80px;
}

.banner-img img{
    width: 100%;
    max-width: 440px;
}
.banner-text h3{
color: #3A3A3A;
font-size: 52px;
font-weight: 700;
line-height: 50px;
margin-bottom: 20px;
width: 100%;
}

.banner-text p{
    max-width: 505px;
    color: #3A3A3A;
font-size: 16px;
font-weight: 600;
margin-bottom: 20px;

}

.banner-text button{
    border-radius: 41px;
background: #E02C6D;
padding: 10px 24px ;
border-style: solid;
color: white;
}

.banner-img{
    background-image: url(../images/Circle\ design.svg);
}
















@media screen and (max-width:576px) {
    nav h3 {
   font-size: 30px;
   color: orange;
    }
    nav{
        flex-direction: column;
    }
    nav ul {
     margin-left: -100px;
     margin-top: 10px;
    }
    .banner-container{
        flex-direction: column;
        margin-top: 20px;
        
    }

    .banner-text{
       padding: 10px;
    }

    .banner-text h3{
padding: 0px;
    }
    .banner-img img{
      width: 250px;
      margin-top: 20px;
    }

   
    
}